<?xml version="1.0"?>
<launch>
    <node pkg="facenet" type="facenet_node.py" name="facenet_node" output="screen">
        <param name="model" value="~/models/facenet/20170511-185253/" />
        <param name="database" value="/home/raphael/datasets/facenet_raw/" />
    </node>

    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node>

</launch>
